           table.satu { border-collapse:collapse; }
            table.dua { border-collapse:separate; }

            table.awal{
            	border-collapse:collapse;	
            	border-style: solid;
            	margin-top: -380px;
            	margin-bottom: 100px;
            	margin-left: 23px;
                margin-right: 23px;
            }
            table.tengah{
                border-collapse:collapse;
                margin-top: -94px;
                margin-bottom:100px; 
                margin-left: 23px;
            }


            td.a {
                border-style:dotted;
                border-width:3px;
                border-color:#000000;
                padding: 10px;
            }
            td.b {
                border-style:solid;
                border-width:2px;
                border-color:#333333;
                padding:10px;
            }
            .gambar{
            	max-width: 70%;
            	max-height: 70%;
            	margin-left: 40px;
				margin-bottom: 350px;

            }
            th.atas {
            	width: 10%;
            	height: 10%;
            }
            th.alamat{
            	line-height: 12px;
            	padding-bottom: 350px;
                padding-left: 15px;

            }
            a.al{
            	margin-left: 5px;
            	font-family: calibri;
            	font-size: 8pt;
            	margin-bottom: 400px;
            }
            td.no{
            	width: 300px;
            }
             td.kanan{
            	width: 250px;
                padding-left: 7px;
            }
            td.tengah{
                padding-left: 15px;
                padding-right: 15px;
            }
            td.kiri{
                border-right: hidden;
            }
             td.kiri2{
                border-right: hidden;
            }
             td.kiri3{
                border-left: hidden;
            }
            td{
            	border-style: solid;
            	border-color: #000000;
            	border-width: 2px;
            }
            th.kom{
                border-style: solid;
                border-color: #000000;
                border-width: 2px;
            }
             td.nomor{
                width: 30px;
            }
            td.barang{
                width: 250px;
            }
            td.retail{
                width: 80px;
            }
            h2{
            	font-family: arial;
            	margin-top: 5px;
                margin-bottom: -10px;
            }

